@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
     font-family: "Spline Sans Mono", monospace;
}

h4{
     font-size: 24px;
}
